.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
  list-style-type: none;
}

.arrow {
  height: 16px;
  cursor: pointer;
  outline: none;
  margin-top: 0px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .arrow {
    height: 24px;
    align-self: center;
  }
}

.suggestion {
  font-family: 'Roboto';
  font-size: 14px;
  color: #64748b;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .suggestion {
    font-size: 16px;
  }
}
