.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.arrow {
  height: 14px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .arrow {
    height: 20px;
  }
}

.suggestion {
  font-family: 'Roboto';
  font-size: 13px;
  color: #64748b;
}

@media screen and (min-width: 768px) {
  .suggestion {
    font-size: 16px;
  }
}
